<html>
<head>
    <title>TurboGPT</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
</head>
<body class="w-screen h-full flex flex-col justify-center items-center bg-slate-800">
    <h2 class="text-3xl mb-3 font-bold text-white">TurboGPT</h2>
    <div class="w-10/12 sm:w-1/2 p-5 shadow-md rounded-lg bg-slate-700">
        <div>
            <label for="gpt-name" class="block mb-2 text-sm font-medium text-white">Name your GPT Agent</label>
            <input type="text" id="gpt-name" placeholder="ResearchGPT" class="bg-slate-500 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="John" required>
        </div>
        <div>
            <label for="gpt-description" class="block mb-2 mt-3 text-sm font-medium text-white">Give your agent a role</label>
            <input type="text" id="gpt-description" placeholder="an AI assistant that researches and finds the best tech products" class="bg-slate-500 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="John" required>
        </div>
        <label for="gpt-description" class="block mb-2 mt-3 text-sm font-medium text-white">List up to 5 goals below:</label>
        <div>
            <div class="editor-container w-full mb-4 rounded-lg bg-white border border-gray-200 rounded-lg bg-slate-500">
                <div class="px-4 py-2 bg-slate-500 rounded-lg">
                    <label for="editor" class="sr-only">Goal</label>
                    <textarea id="editor" rows="3" class="text-white resize-none block w-full px-0 text-sm text-white bg-slate-500 border-0 focus:ring-0" placeholder="Analyze specs, prices and reviews to find the top 5 best headphones." required></textarea>
                </div>
            </div>
        </div>
        <div onclick="createNewGoal()" class="w-full mt-3 mb-4 pl-2.5 bg-slate-500 border-2 border-slate-700 cursor-pointer border-dashed rounded-full">
            <p class="text-sm text-white p-2 text-center">Add new goal</p>
        </div>
        <button type="submit" 
            class="start-gpt
                inline-flex items-center px-5 py-2.5 text-sm font-medium hidden
                text-center text-white bg-blue-700 rounded-lg focus:ring-4 
                focus:ring-blue-200 hover:bg-blue-800
            ">
            Submit
        </button>
    </div>



    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script>
        // url parameter setup
        const url = new URL(location.href)
        let search_params = new URLSearchParams(url.search)
        const room = search_params.get('room')

        let start_gpt = document.querySelector('.start-gpt')
        let editor = document.querySelector('#editor')

        let socket_server = 'http://192.168.0.222:8000'
        const socket = io()
        socket.on("connect", () => {
            console.log(socket.id);
            console.log('connect listener found')
			socket.emit('join_room', {
                room: room
            })
            console.log('emit join_room sent')
        })

        socket.on("join_room_announcement", (data) => {
            console.log(`[✅] Room: ${data["room"]} was joined successfully.`)
        })

        socket.on("gpt_response", (data) => {
            console.log(data)
        })

        socket.on("disconnect", () => {
            socket.emit('left_room', {
                room: room
            })
        })

        editor.oninput = ((e) => {
            if (e.target.value.trim().length > 0) {
                start_gpt.classList.remove('hidden')
            } else {
                start_gpt.classList.add('hidden')
            }
        })

        start_gpt.onclick = (() => {
            goals = []
            document.querySelectorAll('.editor-container').forEach(c => {
            if (c.querySelector('#editor').value.trim().length < 1 || goals.length >= 5) { return } 
                content = c.querySelector('#editor').value.trim()
                goals.push(content)
            })
            console.log(goals)
            socket.emit('query_gpt', {
                agent_name: 'Quazimoto',
                agent_description: 'a lazy researcher',
                goals: goals,
                agent_continuous: true,
                OPENAI_API_KEY: 'your-key-here.previous-leaked-key-deleted',
                room: room,
                socket_server: socket_server,
            })
        })

        let goal_containers = 1
        const createNewGoal = () => {
            if (goal_containers >= 5) { return }
            let editor_container = document.querySelector('.editor-container').cloneNode(true)
            editor_container.querySelector('#editor').value = ''
            document.querySelector('.editor-container')
                .parentElement.appendChild(editor_container)
            goal_containers += 1
        }

    </script>
</body>
</html>
